@model IEnumerable<BulkyBook.Models.ApplicationUser>
@{
    ViewData["Title"] = "User Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row d-flex p-3">
    <div>
        <h3>User's List</h3>
    </div>
</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>


